# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Temp files
*.swo
*.swa
*.swp

# CMake temp files
*.txt
*.cmake
CMakeFiles
bin
Makefile

